body {
  max-width: 800px;
  margin: 0 auto;
}

video {
  width: 100vw;
}

.video-container {
  position: relative;
}

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  position: absolute;
  top: 10px;
  color: green;
}

.tracker-image {
  width: 20cm;
}

.tracker-image img {
  width: 100%;
  image-rendering: pixelated;
}
